################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/back-web-api/back-web-api/.vs/back-web-api/DesignTimeBuild
