html,
body {
  background-color: #1e1e2c;
  height: 100%;
}

.chat-input-field {
  color: white;
}

.chat-send-btn {
  width: 100%;
  background-color: #bb86fc;
  color: white;
  border: 0px;
}

.chat-list-item {
  color: white;
  background-color: #2d2d4c;
}

.chat-msg-list {
  color: white;
  background-color: #2d2d4c;
}

.inner-card {
  border-radius: 10px;
  background-color: #2d2d4c;
  margin-left: 10px;
  margin-right: 10px;
}

.outer-card {
  padding: 50px;
  height: 100%;
}
