.chat-input-field {
  background-color: #707793;
  color: white;
  border: 0px;
}

.chat-send-btn {
  width: 100%;
  background-color: #3bba9c;
  color: white;
  border: 0px;
}

.chat-list-item {
  color: white;
  background-color: #43455c;
}

.chat-msg-list {
  color: white;
  background-color: #43455c;
  height: 10;
}

.inner-card {
  border-radius: 10px;
  height: contain;
  background-color: #43455c;
  margin-left: 10px;
  margin-right: 10px;
}

.outer-card {
  background-color: #3c3f58;
  padding: 50px;
}
